.title {
    text-align: center;
}

.btn-outline-info {
    margin-top: 10px;
}



#startquiz {
    margin-left: 500px;
}

#testquestions {
    visibility: hidden;
}

.answers {
    margin-top: 10px;
}

#wronganswer {
    color: red;
}

#correctanswer {
    color: green;
}

