

.btn-outline-info {
    margin-top: 10px;
}

#time{
    text-align: right;
}

#title{
    text-align: center;
}


#testquestions {
    visibility: hidden;
    
}

.answers {
    margin-top: 10px;
}

#wronganswer {
    color: red;
}

#correctanswer {
    color: green;
}

#question {
    text-align: center;
}

#tq {
    max-width: 600px;
    min-width: 400px;
}
